<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:inline="javascript">
        var myname = [[${name}]];
        var myage = [[${age}]];

        // alert("获取模版中的数据" + myname + "," + myage);

        function fun(){
            alert("获取模版中的数据" + myname + "," + [[${sex}]]);
        }
    </script>
</head>
<body>
<div style="margin-left: 400px">
    <h3>内联 text,使用内联表达式显示变量的值</h3>
    <div th:inline="text">
        <p>我是[[${name}]],年龄是[[${age}]]</p>
    </div>
</div>
<div>
    <p>使用内联text</p>
    <p>我是[[${name}]],性别是[[${sex}]]</p>
    <input type="button" name="btn" value="单机获取模版数据" onclick="fun()">
</div>
</body>
</html>