<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        school模块所有bean的声明，school模块的配置文件
    -->
    <bean id="primarySchool" class="com.blithe.ba06.School">
        <property name="name" value="内江师范学院"/>
        <property name="address" value="内江" />
    </bean>
</beans>